.contenido {
  width: 380.71px;
  background-color: aliceblue;
  border-color: black;
  border: 1px solid;
  border-radius: 5px;
}

.distancia_evento {
  position: absolute;
  left: 300px;
}

.km {
  position: absolute;
  left: 350px;
}

.begin {
  position: absolute;
  left: 153.86px;
}

.time_begin {
  position: absolute;
  left: 210px;
}

.end {
  position: absolute;
  left: 153.86px;
}

.time_end {
  position: absolute;
  left: 210px;
}

.ShowThems{
  position: absolute;
  left: 125px;
}
