/* En home se pone el diseño para el fondo como tal es decir lo que va a ocupar la ventana*/
/* No de como hacer que se acople sin dejar un marco blaco alrededor */
.home{
    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;

    background: #EAC632;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Diseño del banner esto corresponde unicamente al rectangulo de fondo */
.Banner{
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 0px;

    background: #100138;
}

/* h1 es el encabeza o titulo por el cual se realizan las busquedas en google (asi lo entendi) 
como una etiqueta que identifica nuestra pagina web */
/* En este caso h1 hace referencia a la plabra "SMILE" unicamente */
h1{
    position: absolute;
    width: 350px;
    height: 77px;
    left: 50px;
    top: -75px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F8F5E7;

    border: 1px solid #000000;
    backdrop-filter: blur(2px)
}

/* label subtitle es lo que continua en el banner, "conect with people" */
.label_subtitle{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 480px;
    top: 10px;

    font-family: 'Moon Dance';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 121px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F8F5E7;
}

/* Esta la imagen con las dimensiones sacadas del mismo figma
.icono{
    position: absolute;
    width: 135px;
    height: 135px;
    left: 1305px;
    top: 0px;

    background:none;
} */

.informacion{
    box-sizing: border-box;

    position: absolute;
    width: 1351.88px;
    height: 554.71px;
    left: 53.92px;
    top: 150px;

    background: #D9D9D9;
    border: 2.77804px solid #000000;
    border-radius: 45.8376px;
}

.eventos{
    box-sizing: border-box;

    position: absolute;
    width: 1351.88px;
    height: 291px;
    left: 53.92px;
    top: 715px;

    background: #D9D9D9;
    border: 2.77804px solid #000000;
    border-radius: 45.8376px;
}

.foto{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 18.08px;
    top: 30px;
}

.Editar{
    position: absolute;
    width: 254.57px;
    height: 72.97px;
    left: 40.8px;
    top: 345.86px;

    background: #30D2D5;
    border-radius: 88.8972px;

    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    font-size: 34.7255px;
    
    text-align: center;

    color: #000000;
}

.Editar:hover{
    background-color: #197090;
}

.titulo_information{
    position: absolute;
    width: 558px;
    height: 18px;
    left: 387.08px;
    top: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 41.9358px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.nombre_p{
    position: absolute;
    width: 203.92px;
    height: 42.97px;
    left: 311.94px;
    top: 94.06px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_name{
    position: absolute;
    width: 520.14px;
    height: 33.98px;
    left: 400px;

    background: #F8F4F4;
}

.apellido_p{
    position: absolute;
    width: 203.92px;
    height: 42.97px;
    left: 311.94px;
    top: 157.02px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_lastname{
    position: absolute;
    width: 520.14px;
    height: 33.98px;
    left: 400px;

    background: #F8F4F4;
}

.correo_p{
    position: absolute;
    width: 203.92px;
    height: 42.97px;
    left: 311.94px;
    top: 219.98px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_email{
    position: absolute;
    width: 520.14px;
    height: 33.98px;
    left: 400px;

    background: #F8F4F4;
}

.username_p{
    position: absolute;
    width: 203.92px;
    height: 42.97px;
    left: 311.94px;
    top: 282.95px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_username{
    position: absolute;
    width: 450px;
    height: 34px;
    left: 322px;

    background: #F8F4F4;
}

.contraseña_p{
    position: absolute;
    width: 203.92px;
    height: 42.97px;
    left: 311.94px;
    top: 345.91px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_password{
    position: absolute;
    width: 520.14px;
    height: 33.98px;
    left: 400px;

    background: #F8F4F4;
}

.confirm_contraseña_p{
    position: absolute;
    width: 303.92px;
    height: 42.97px;
    left: 311.94px;
    top: 418.87px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 33.3245px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input_confirmpassword{
    position: absolute;
    width: 520.14px;
    height: 33.98px;
    left: 400px;

    background: #F8F4F4;
}

.arrow_p{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 50px;
    top: 20px;
  }
  
  .arrow_p:hover{
    transform:scale(1.5);
  }