/* En home se pone el diseño para el fondo como tal es decir lo que va a ocupar la ventana*/
/* No de como hacer que se acople sin dejar un marco blaco alrededor */
.home {
  box-sizing: border-box;

  position: relative;
  width: 1440px;
  height: 1024px;
  top: 0;
  left: 0;

  background: #eac632;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Diseño del banner esto corresponde unicamente al rectangulo de fondo */
.Banner {
  position: absolute;
  width: 1440px;
  height: 130px;
  left: 0px;
  top: 0px;

  background: #100138;
}

/* h1 es el encabeza o titulo por el cual se realizan las busquedas en google (asi lo entendi) 
como una etiqueta que identifica nuestra pagina web */
/* En este caso h1 hace referencia a la plabra "SMILE" unicamente */
h1 {
  position: absolute;
  width: 350px;
  height: 77px;
  left: 50px;
  top: -75px;

  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 150px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f8f5e7;

  border: 1px solid #000000;
  backdrop-filter: blur(2px);
}

/* label subtitle es lo que continua en el banner, "conect with people" */
.label_subtitle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 480px;
  top: 10px;

  font-family: "Moon Dance";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 121px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f8f5e7;
}

.Formulario {
  position: relative;
  width: 1112px;
  height: 765px;
  left: 160px;
  top: 254px;

  background: #d9d9d9;
  border-radius: 55px;
}

.titulo {
  position: absolute;
  width: 885px;
  height: 72px;
  left: 150px;
  top: 15px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.nombre {
  position: absolute;
  width: 148px;
  height: 43px;
  left: 162px;
  top: 210px;

  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.input_name {
  position: absolute;
  width: 450px;
  height: 34px;
  left: 322px;
  position: absolute;
}

.apellido {
  position: absolute;
  width: 216px;
  height: 43px;
  left: 161px;
  top: 273px;

  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.input_lastname {
  position: absolute;
  width: 450px;
  height: 34px;
  left: 322px;
  position: absolute;
}

.correo {
  position: absolute;
  width: 169px;
  height: 43px;
  left: 161px;
  top: 336px;

  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.input_email {
  position: absolute;
  width: 450px;
  height: 34px;
  left: 322px;
  position: absolute;
}

.contraseña {
  position: absolute;
  width: 169px;
  height: 43px;
  left: 161px;
  top: 399px;

  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.input_password {
  position: absolute;
  width: 450px;
  height: 34px;
  left: 322px;
}

.confirm_contraseña {
  position: absolute;
  width: 284px;
  height: 43px;
  left: 161px;
  top: 465px;

  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  display: flex;
  align-items: center;

  color: #000000;
}

.input_confirmpassword {
  position: absolute;
  width: 450px;
  height: 34px;
  left: 322px;
}

.button_register {
  position: absolute;
  width: 278px;
  height: 75px;
  left: 417px;
  top: 627px;
  background: #30d2d5;
  border-radius: 128px;

  font-family: "Montaga";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 62px;

  text-align: center;

  color: #000000;
}

.register {
  color: #000000;
  text-decoration: none;
}
